<div class="card">
  <div class="card-header"><h3>Cadastrar Autor</h3></div>
  <div class="card-body" style="width: 100%; height: 100%">
    <form [formGroup]="autorForm">
      <div class="mb-3">
        <label for="nome" class="form-label fw-bold">Autor:*</label>
        <input
          type="text"
          class="form-control"
          formControlName="nome"
          id="nome"
        />
        <div
          *ngIf="autorForm.get('nome')?.errors?.['required'] && autorForm.get('nome')?.touched"
        >
          <span class="text-danger">Digite o nome do autor</span>
        </div>
        <div
          *ngIf="autorForm.get('nome')?.errors?.['maxlength'] && !autorForm.get('nome')?.errors?.['required'] && autorForm.get('nome')?.touched"
        >
          <span class="text-danger"
            >O nome do autor deve ter até 100 caracteres</span
          >
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label fw-bold"
          >Biografia:*</label
        >
        <textarea
          type="text"
          class="form-control"
          rows="8"
          id="biografia"
          formControlName="biografia"
        ></textarea>
        <div
          *ngIf="autorForm.get('biografia')?.errors?.['required'] && autorForm.get('biografia')?.touched"
        >
          <span class="text-danger">Digite a biografia do autor</span>
        </div>
        <div
          *ngIf="autorForm.get('biografia')?.errors?.['maxlength'] && !autorForm.get('biografia')?.errors?.['required'] && autorForm.get('biografia')?.touched"
        >
          <span class="text-danger"
            >A biografia do autor deve ter até 1000 caracteres</span
          >
        </div>
      </div>
    </form>
    <div class="mt-3">
      <button type="submit" class="btn btn-success" (click)="cadastraAutor()">
        Salvar
      </button>
      <button type="submit" class="btn btn-danger" (click)="cancelar()">
        Cancelar
      </button>
    </div>
  </div>
</div>
